<div fxLayout="column" fxLayoutGap="15px">
  <mat-radio-group [formControl]="isReturnControl">
    <mat-radio-button [value]="true">Ida y vuelta</mat-radio-button>
    <mat-radio-button [value]="false">Solo ida</mat-radio-button>
  </mat-radio-group>

  <div class="container-form">
    <form [formGroup]="reservationForm" (ngSubmit)="searchJourneys()">
      <div class="container-controls" fxLayout="column" fxLayoutGap="15px">
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayout.sm="column"
          fxLayout.md="column"
          fxLayoutGap="15px"
        >
          <mat-card>
            <mat-card-header>
              <mat-card-title> ¿A dónde viajas? </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayout.md="column"
                fxLayoutGap="15px"
              >
                <app-custom-autocomplete
                  label="Desde"
                  icon="flight_takeoff"
                  controlName="origin"
                  [parentForm]="reservationForm"
                  [options]="options"
                ></app-custom-autocomplete>

                <app-custom-autocomplete
                  label="Hacia"
                  icon="flight_land"
                  controlName="destination"
                  [parentForm]="reservationForm"
                  [options]="options"
                ></app-custom-autocomplete>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title> ¿Cuándo viajas? </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <div
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayout.md="column"
                fxLayoutGap="15px"
              >
                <app-custom-calendar
                  label="Salida"
                  controlName="departureDate"
                  [parentForm]="reservationForm"
                ></app-custom-calendar>

                <app-custom-calendar
                  *ngIf="isReturn"
                  label="Vuelta"
                  controlName="returnDate"
                  [parentForm]="reservationForm"
                ></app-custom-calendar>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title> ¿Quién viaja? </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <app-select-passengers
                controlName="passengers"
                [parentForm]="reservationForm"
                (eventSelected)="getValuesPassengers($event)"
              ></app-select-passengers>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="disabledButton"
        >
          Buscar vuelos
        </button>
      </div>
    </form>
  </div>
</div>
