<div fxLayout="column" fxLayoutGap="25px">
  <mat-radio-group>
    <mat-radio-button value="1">Ida y vuelta</mat-radio-button>
    <mat-radio-button value="2">Solo ida</mat-radio-button>
  </mat-radio-group>

  <div class="container-form" >
    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <app-custom-autocomplete
          label="Desde"
          icon="flight_takeoff"
          [formControl]="originControl"
          [options]="options"
        ></app-custom-autocomplete>

        <app-custom-autocomplete
          label="Hacia"
          icon="flight_land"
          [formControl]="destinationControl"
          [options]="options"
        ></app-custom-autocomplete>

        <app-custom-calendar label="Salida"></app-custom-calendar>

        <app-custom-calendar label="Vuelta"></app-custom-calendar>

        <mat-form-field appearance="fill">
          <mat-label>Pasajeros</mat-label>
          <input type="text" matInput  [formControl]="destinationControl"/>
          <mat-icon matSuffix>supervised_user_circle</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="primary">Buscar vuelos</button>
    </div>
  </div>
</div>
